{%  extends "layout.html" %}

{% block body %}
    <div class="about">
        <div class="container">
            <h3>About</h3>
            <div class="about-grids">
                <div class="col-md-5 about-grid1">
                    <h4>Our history</h4>
                    <div class="history">
                        <div class="pull-left hist-icon">
                        <span class="glyphicon glyphicon-triangle-right hist-icn" aria-hidden="true"></span>
                        </div>
                        <div class="pull-right hist-text">
                        <P>cum sociis natoque penabus et magnis dis part urie nt montes, nascetur ridiculus mus. Nulla du i. Fusce feugiat malesuada odio. Present vesti bulum aene an nonu</P>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="history">
                        <div class="pull-left hist-icon">
                        <span class="glyphicon glyphicon-triangle-right hist-icn" aria-hidden="true"></span>
                        </div>
                        <div class="pull-right hist-text">
                        <P>cum sociis natoque penabus et magnis dis part urie nt montes, nascetur ridiculus mus. Nulla du i. Fusce feugiat malesuada odio. Present vesti bulum aene an nonu</P>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="history">
                        <div class="pull-left hist-icon">
                        <span class="glyphicon glyphicon-triangle-right hist-icn" aria-hidden="true"></span>
                        </div>
                        <div class="pull-right hist-text">
                        <P>cum sociis natoque penabus et magnis dis part urie nt montes, nascetur ridiculus mus. Nulla du i. Fusce feugiat malesuada odio. Present vesti bulum aene an nonu</P>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="history">
                        <div class="pull-left hist-icon">
                        <span class="glyphicon glyphicon-triangle-right hist-icn" aria-hidden="true"></span>
                        </div>
                        <div class="pull-right hist-text">
                        <P>cum sociis natoque penabus et magnis dis part urie nt montes, nascetur ridiculus mus. Nulla du i. Fusce feugiat malesuada odio. Present vesti bulum aene an nonu</P>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="history">
                        <div class="pull-left hist-icon">
                        <span class="glyphicon glyphicon-triangle-right hist-icn" aria-hidden="true"></span>
                        </div>
                        <div class="pull-right hist-text">
                        <P>cum sociis natoque penabus et magnis dis part urie nt montes, nascetur ridiculus mus. Nulla du i. Fusce feugiat malesuada odio. Present vesti bulum aene an nonu</P>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-7 about-grid">
                <img src="images/ab1.jpg" class="img-responsive" alt="/">
                    <h4>best service & beast atmosphere!</h4>
                    <p>Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Vestibulum sed ante.</p>
                    <P>Praesent faucibus rutrum odio at rhoncus. Pellentesque vitae tortor id neque fermentum pretium. Maecenas ac lacus ut neque rhoncus laoreet sed id tellus. Donec justo tellus, tincidunt vitae pellentesque nec, pharetra a orci. Praesent nunc nunc, egestas eget elementum sed; rutrum eget metus! Vestibulum congue congue dui ut porta.</P>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
        <div class="about-circles">
            <div class="container">
                <div class="circles">
                    <div class="col-md-3 circle 1">
                        <div class="demo-3 re_pstn1" data-percent="85"></div>
                        <h4>Lorem Ipsum</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                    </div>
                    <div class="col-md-3 circle 2">
                        <div class="demo-4 re_pstn1" data-percent="75"></div>
                        <h4>Lorem Ipsum</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                    </div>
                    <div class="col-md-3 circle 3">
                        <div class="demo-2 re_pstn1" data-percent="55"></div>
                        <h4>Lorem Ipsum</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                    </div>
                    <div class="col-md-3 circle 4">
                        <div class="demo-1 re_pstn1" data-percent="65"></div>
                        <h4>Lorem Ipsum</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                    <script>
                    $('.demo-1').percentcircle({
                    animate : true,
                    diameter : 100,
                    guage: 3,
                    coverBg: '#fff',
                    bgColor: '#efefef',
                    fillColor: '#e92a32',
                    percentSize: '15px',
                    percentWeight: 'normal'
                    });
                    $('.demo-2').percentcircle({
                    animate : true,
                    diameter : 100,
                    guage: 3,
                    coverBg: '#fff',
                    bgColor: '#efefef',
                    fillColor: '#151c22',
                    percentSize: '15px',
                    percentWeight: 'normal'
                    });

                    $('.demo-3').percentcircle({
                    animate : true,
                    diameter : 100,
                    guage: 3,
                    coverBg: '#fff',
                    bgColor: '#efefef',
                    fillColor: '#151c22',
                    percentSize: '18px',
                    percentWeight: 'normal'
                    });
                    $('.demo-4').percentcircle({
                    animate : true,
                    diameter : 100,
                    guage: 3,
                    coverBg: '#fff',
                    bgColor: '#efefef',
                    fillColor: '#e92a32',
                    percentSize: '18px',
                    percentWeight: 'normal'
                    });
                    </script><script type="text/javascript">

                    var _gaq = _gaq || [];
                    _gaq.push(['_setAccount', 'UA-36251023-1']);
                    _gaq.push(['_setDomainName', 'jqueryscript.net']);
                    _gaq.push(['_trackPageview']);

                    (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                    })();
                    </script>
            </div>
        </div>
        <div class="ourteam">
            <div class="container">
                <h3>our Trainers</h3>
                <div class="team-grids">
                <div class="col-md-4 team-grid">
                    <div class="item pic1"></div>
                    <div class="team-text">
                    <h4>lorem</h4>
                    <p>Were dolor in hendrerit in vulputate<br> velit esse molestie con sequat,</p>
                    </div>
                </div>
                <div class="col-md-4 team-grid">
                    <div class="item pic2"></div>
                    <div class="team-text">
                    <h4>lorem</h4>
                    <p>Were dolor in hendrerit in vulputate<br> velit esse molestie con sequat,</p>
                    </div>
                </div>
                <div class="col-md-4 team-grid">
                    <div class="item pic3"></div>
                    <div class="team-text">
                    <h4>lorem</h4>
                    <p>Were dolor in hendrerit in vulputate<br> velit esse molestie con sequat,</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    {% endblock %}

{%  extends "footer.html" %}