<!--footer-->
        <div class="footer">
            <div class="container">
                <div class="col-md-4 ft logo">
                    <div class="logo fot">
                       <h1><a href="index.html" class="ft-log">Fat burn</a></h1>
                    </div>
                </div>
                <div class="col-md-4 ft cpyrt">
                    <p>Copyright &copy; 2015.Company name All rights reserved.<a target="_blank" href="http://h2design.taobao.com/">氢设计</a></p>
                </div>
                <div class="col-md-4 ft soc">
                    <ul class="social">
                        <li><a href="#" class="face"></a></li>
                        <li><a href="#" class="twit"></a></li>
                        <li><a href="#" class="gplus"></a></li>
                        <li><a href="#" class="inst"></a></li>
                        <li><a href="#" class="pint"></a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

