{%  extends "layout.html" %}
{%  block body %}

        <div class="gallery">
            <div class="container">
                <h3>Gallery</h3>
                <div class="gallery-grids">
                    <div class="col-md-4 work-grid">
                        <div id="nivo-lightbox-demo">
                            <a  href="images/g1.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
                                <img src="images/g1.jpg" class="img-responsive" alt=""/>
                                <div class="rotate">
                                    <span class="glyphicon glyphicon-search gl-icn" aria-hidden="true"></span>
                                </div>
                             </a>
                        </div>
                    </div>
                    <div class="col-md-4 work-grid">
                        <div id="nivo-lightbox-demo">
                            <a  href="images/g2.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
                                <img src="images/g2.jpg" class="img-responsive" alt=""/>
                                <div class="rotate">
                                    <span class="glyphicon glyphicon-search gl-icn" aria-hidden="true"></span>
                                </div>
                             </a>
                        </div>
                    </div>
                    <div class="col-md-4 work-grid">
                        <div id="nivo-lightbox-demo">
                            <a  href="images/g3.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
                                <img src="images/g3.jpg" class="img-responsive " alt=""/>
                                <div class="rotate">
                                    <span class="glyphicon glyphicon-search gl-icn" aria-hidden="true"></span>
                                </div>
                             </a>
                        </div>
                    </div>
                    <div class="col-md-4 work-grid">
                        <div id="nivo-lightbox-demo">
                            <a  href="images/g4.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
                                <img src="images/g4.jpg" class="img-responsive " alt=""/>
                                <div class="rotate">
                                    <span class="glyphicon glyphicon-search gl-icn" aria-hidden="true"></span>
                                </div>
                             </a>
                        </div>
                    </div>
                    <div class="col-md-4 work-grid">
                        <div id="nivo-lightbox-demo">
                            <a  href="images/g5.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
                                <img src="images/g5.jpg" class="img-responsive " alt=""/>
                                <div class="rotate">
                                    <span class="glyphicon glyphicon-search gl-icn" aria-hidden="true"></span>
                                </div>
                             </a>
                        </div>
                    </div>
                    <div class="col-md-4 work-grid">
                        <div id="nivo-lightbox-demo">
                            <a  href="images/g6.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
                                <img src="images/g6.jpg" class="img-responsive " alt=""/>
                                <div class="rotate">
                                    <span class="glyphicon glyphicon-search gl-icn" aria-hidden="true"></span>
                                </div>
                             </a>
                        </div>
                    </div>
                    <div class="col-md-4 work-grid">
                        <div id="nivo-lightbox-demo">
                            <a  href="images/g7.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
                                <img src="images/g7.jpg" class="img-responsive " alt=""/>
                                <div class="rotate">
                                    <span class="glyphicon glyphicon-search gl-icn" aria-hidden="true"></span>
                                </div>
                             </a>
                        </div>
                    </div>
                    <div class="col-md-4 work-grid">
                        <div id="nivo-lightbox-demo">
                            <a  href="images/g8.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
                                <img src="images/g8.jpg" class="img-responsive " alt=""/>
                                <div class="rotate">
                                    <span class="glyphicon glyphicon-search gl-icn" aria-hidden="true"></span>
                                </div>
                             </a>
                        </div>
                    </div>
                    <div class="col-md-4 work-grid">
                        <div id="nivo-lightbox-demo">
                            <a  href="images/g10.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
                                <img src="images/g10.jpg" class="img-responsive " alt=""/>
                                <div class="rotate">
                                    <span class="glyphicon glyphicon-search gl-icn" aria-hidden="true"></span>
                                </div>
                             </a>
                        </div>
                    </div>
                    <div class="col-md-4 work-grid">
                        <div id="nivo-lightbox-demo">
                            <a  href="images/g17.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
                                <img src="images/g17.jpg" class="img-responsive " alt=""/>
                                <div class="rotate">
                                    <span class="glyphicon glyphicon-search gl-icn" aria-hidden="true"></span>
                                </div>
                             </a>
                        </div>
                    </div>
                    <div class="col-md-4 work-grid">
                        <div id="nivo-lightbox-demo">
                            <a  href="images/g11.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
                                <img src="images/g11.jpg" class="img-responsive " alt=""/>
                                <div class="rotate">
                                    <span class="glyphicon glyphicon-search gl-icn" aria-hidden="true"></span>
                                </div>
                             </a>
                        </div>
                    </div>
                    <div class="col-md-4 work-grid">
                        <div id="nivo-lightbox-demo">
                            <a  href="images/g12.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
                                <img src="images/g12.jpg" class="img-responsive " alt=""/>
                                <div class="rotate">
                                    <span class="glyphicon glyphicon-search gl-icn" aria-hidden="true"></span>
                                </div>
                             </a>
                        </div>
                    </div>
                    <div class="col-md-4 work-grid">
                        <div id="nivo-lightbox-demo">
                            <a  href="images/g116.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
                                <img src="images/g116.jpg" class="img-responsive " alt=""/>
                                <div class="rotate">
                                    <span class="glyphicon glyphicon-search gl-icn" aria-hidden="true"></span>
                                </div>
                             </a>
                        </div>
                    </div>
                    <div class="col-md-4 work-grid">
                        <div id="nivo-lightbox-demo">
                            <a  href="images/g14.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
                                <img src="images/g14.jpg" class="img-responsive " alt=""/>
                                <div class="rotate">
                                    <span class="glyphicon glyphicon-search gl-icn" aria-hidden="true"></span>
                                </div>
                             </a>
                        </div>
                    </div>
                    <div class="col-md-4 work-grid">
                        <div id="nivo-lightbox-demo">
                            <a  href="images/g15.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
                                <img src="images/g15.jpg" class="img-responsive " alt=""/>
                                <div class="rotate">
                                    <span class="glyphicon glyphicon-search gl-icn" aria-hidden="true"></span>
                                </div>
                             </a>
                        </div>
                    </div>
                </div>
            </div>
            <link rel="stylesheet" type="text/css" href="css/magnific-popup.css">
			<script type="text/javascript" src="js/nivo-lightbox.min.js"></script>
				<script type="text/javascript">
				$(document).ready(function(){
				    $('#nivo-lightbox-demo a').nivoLightbox({ effect: 'fade' });
				});
				</script>
			<!---->
        </div>
{% endblock %}

{%  extends "footer.html" %}

